.partner-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  
  .text-partner {
    font-family: "Open Sans", sans-serif;
  }
  
  .custom-button {
    background-color: #296630;
    color: white;
  }
  
  .custom-button:hover {
    background-color: #225225;
  }
  
  .vector2-margin {
    transform: rotate(-65deg);
    margin-right: -2rem;
    margin-top: -2rem;
  }

  .custom-vector-bg{
    transform: rotate(-180deg);
    margin-top: -12rem;
    margin-right: -27rem;
  }
  