.tinh-nang-dac-biet {
    color: rgb(28, 59, 31);
    font-size: 48px; /* Cần đơn vị px */
    font-family: 'Open Sans', sans-serif; /* Font dự phòng nên được thêm vào */
    font-weight: 700; /* Không cần dấu nháy */
    word-wrap: break-word;
    margin-bottom: 6px;
    margin-left: 4rem;

}

.text-center-tt {
    line-height: 1.2; 
}

.text-center {
    line-height: 2.; 
}

.mx-features{
    margin-left: 12rem;
    margin-right: 10rem;
}

.max-wx{
    max-width: 100rem;
}

.stage-2{
    margin-top: 100px;
    margin-bottom: 38px;
}

.custom-py{
    padding-top: 2rem;
    padding-bottom: 0rem;
    /* min-height: 92vh; */
}

.vector2-margin{
    margin-left: -3.5rem;
    margin-top: -3rem;
}


.hoc-ky-nang-sinh-ton{
    color: rgb(28, 59, 31);
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: '400';
    word-wrap: 'break-word';
    top: 0px;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 700;
  word-wrap: break-word;
}

.description{
    color: white;
    font-size: 13;
    font-family: 'Open Sans';
    font-weight: '400';
    word-wrap: 'break-word'
}